{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}dashboard{% endblock title %}
{% load qr_code %}

{% block css %}
<style>
</style>
{% endblock css %}

{% block content %}

<header class="page-header page-header-dark bg-gradient-primary">
    <div class="page-header-content pt-5">
        <div class="container-fluid py-5">
            <div class="row align-items-center text-center text-white py-5">
                <div class="col-lg-12">
                    <h1 class="">Hello {{user.first_name.title  }}, This is your dashboard</h1>
                </div>
            </div>
        </div>
    </div>
    <svg style="pointer-events: none" class="wave" width="100%" height="50px" preserveAspectRatio="none"
        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 75">
        <defs>
            <style>
                .a {
                    fill: none;
                }

                .b {
                    clip-path: url(#a);
                }

                .c,
                .d {
                    fill: #f9f9fc;
                }

                .d {
                    opacity: 0.5;
                    isolation: isolate;
                }
            </style>
            <clipPath id="a">
                <rect class="a" width="1920" height="75"></rect>
            </clipPath>
        </defs>
        <title>wave</title>
        <g class="b">
            <path class="c"
                d="M1963,327H-105V65A2647.49,2647.49,0,0,1,431,19c217.7,3.5,239.6,30.8,470,36,297.3,6.7,367.5-36.2,642-28a2511.41,2511.41,0,0,1,420,48">
            </path>
        </g>
        <g class="b">
            <path class="d"
                d="M-127,404H1963V44c-140.1-28-343.3-46.7-566,22-75.5,23.3-118.5,45.9-162,64-48.6,20.2-404.7,128-784,0C355.2,97.7,341.6,78.3,235,50,86.6,10.6-41.8,6.9-127,10">
            </path>
        </g>
        <g class="b">
            <path class="d"
                d="M1979,462-155,446V106C251.8,20.2,576.6,15.9,805,30c167.4,10.3,322.3,32.9,680,56,207,13.4,378,20.3,494,24">
            </path>
        </g>
        <g class="b">
            <path class="d"
                d="M1998,484H-243V100c445.8,26.8,794.2-4.1,1035-39,141-20.4,231.1-40.1,378-45,349.6-11.6,636.7,73.8,828,150">
            </path>
        </g>
    </svg>

</header>

<section>
    <div class="container py-5">
        <div class="row">
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Earnings
                                    (Monthly)</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Earnings (Annual)
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">$215,000</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Tasks</div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                                    </div>
                                    <div class="col">
                                        <div class="progress progress-sm mr-2">
                                            <div class="progress-bar bg-info" role="progressbar" style="width: 50%"
                                                aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Pending Requests
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-comments fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-gray-400">
    <div class="container pt-5">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">My Events</h1>
            <a href="{% url 'event-create' %}"
                class="d-none d-sm-inline-block btn btn-sm btn-outline-primary rounded-pill px-5">Create Event +</a>
        </div>
    </div>
    <div class="container pt-3 pb-5">
        {% if not events %}
        <div class="row text-center">
            <div class="col-md-12">
                <img src="{% static 'img/404.svg' %}" class="img-fluid" style="max-width: 30%;" alt="...">
            </div>
            <div class="col-md-12">
                <h3>you dont have any events, you create one by pressing this BTN</h3>
                <a href="{% url 'event-create' %}" class="btn btn-outline-primary rounded-pill px-5 m-3"> Create
                    Event</a>
            </div>
        </div>
        {% endif %}
        <div class="row">
            {% for event in events %}
            <div class="col-lg-4 col-md-6 pb-4">
                <div class="card bg-gray-300 shadow border-bottom-warning">
                    {% if not event.image %}
                    <img src="{% static 'img/undraw_festivities_tvvj.svg' %}" class="card-img-top">
                    {% else %}
                    <img src="{{ event.image.url }}" class="card-img-top">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{event}}</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="{% url 'event-detail' event.id %}" class="btn btn-primary">View Details</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section>
    <div class="container pt-5">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">My Tickets</h1>
        </div>
    </div>
    <div class="container pt-3 pb-5">
        {% if not tickets %}
        <div class="row text-center">
            <div class="col-md-12">
                <img src="{% static 'img/undraw_Playful_cat_rchv.svg' %}" class="img-fluid" style="max-width: 30%;"
                    alt="...">
            </div>
            <div class="col-md-12">
                <h3>you dont have any tickets, you get one from here</h3>
                <a href="{% url 'event-create' %}" class="btn btn-outline-primary rounded-pill px-5 m-3"> View
                    Events</a>
            </div>
        </div>
        {% endif %}
        <div class="row">
            {% for ticket in tickets %}
            <div class="col-lg-12 col-md-12 pb-4">
                <div class="card bg-gray-100 shadow border-left-warning" style="min-height: 20rem;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <img src="{% qr_url_from_text ticket.number %}" alt="Hello World!" class="img-fluid">
                            </div>
                            <div class="col-md-9 border-left-secondary px-5">
                                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                    <h1 class="card-title">{{ticket.event.name}}</h1>
                                    <h5 class="card-title"> <i class="fas fa-calendar pr-2   "></i>
                                        {{ticket.event.start_date}}</h5>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-6">
                                        <p><strong>Name:</strong> {{ticket.user.first_name}} {{ticket.user.last_name}}
                                        </p>
                                        <p><strong>Email:</strong> {{ticket.user.email}}</p>
                                        <p><strong>Guests:</strong> {{ticket.tickets}}</p>
                                    </div>
                                    <div class="col-md-6">
                                        <h5>Event Details</h5>
                                        <p><strong>Country:</strong> {{ticket.event.country}}, {{ticket.event.city}}</p>
                                        <p><strong>Location:</strong> {{ticket.event.location}}</p>
                                    </div>
                                    <div class="col-md-6">
                                        <hr>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="{% url 'cancel-ticket' ticket.number %}" class="btn btn-danger btn-block">Cancel</a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="{% url 'print-ticket' ticket.number %}" class="btn btn-primary btn-block">Print</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>


{% endblock content %}