{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <h1>Profile</h1>
    <div class="row">
        <div class="col-md-3">
            name
        </div>
        <div class="col-md-9">
            {{ user.username }}
        </div>
        <div class="col-md-3">
            first name
        </div>
        <div class="col-md-9">
            {{ user.first_name }}
        </div>
        <div class="col-md-3">
            last name
        </div>
        <div class="col-md-9">
            {{ user.last_name }}
        </div>
        <div class="col-md-3">
            email
        </div>
        <div class="col-md-9">
            {{ user.email }}
        </div>
        <div class="col-md-3">
            bio
        </div>
        <div class="col-md-9">
            {{ user.profile.bio }}
        </div>
        <div class="col-md-3">
            image
        </div>
        <div class="col-md-9">
            <img src="{{ user.profile.image.url }}" alt="">
        </div>
        <div class="col-md-3">
            location
        </div>
        <div class="col-md-9">
            {{ user.profile.location }}
        </div>
        <div class="col-md-3">
            birth_date
        </div>
        <div class="col-md-9">
            {{ user.profile.birth_date }}
        </div>
    </div>
    <div class="row">
        <a href="{% url 'profile-edit' %}" class="btn btn-primary">edit profile</a>
    </div>
    <div class="row">
        <a href="{% url 'user-edit' %}" class="btn btn-primary">edit personal information</a>
    </div>

</div>

{% endblock content %}