{% extends 'layouts/base.html' %}

{% block content %}

<div class="container">
    <p>{{ event.name }}</p>
    <p>{{ event.description }}</p>
    <p>{{ event.country }}</p>
    <p>{{ event.city }}</p>
    <p>{{ event.start_date }}</p>
    <p>{{ event.end_date }}</p>
    <p>{{ event.duration }}</p>
    <p>{{ event.seats }}</p>
    <p>{{ event.location }}</p>
    <p>{{ event.category }}</p>
    <p>{{ event.organizer }}</p>
</div>
<div class="row">
    <a href="{% url 'event-edit' event_id=event.id %}" class="btn btn-warning"> edit event </a>
</div>

{% endblock content %}