{% extends 'layouts/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<header class="page-header page-header-dark bg-gradient-primary">
    <div class="page-header-content pt-5">
        <div class="container-fluid py-5">
            <div class="row align-items-center text-center text-white py-5">
                <div class="col-lg-12">
                    <h1>{{ event.name }}</h1>
                </div>
            </div>
        </div>
    </div>
    <svg style="pointer-events: none" class="wave" width="100%" height="50px" preserveAspectRatio="none"
        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 75">
        <defs>
            <style>
                .a {
                    fill: none;
                }

                .b {
                    clip-path: url(#a);
                }

                .c,
                .d {
                    fill: #f9f9fc;
                }

                .d {
                    opacity: 0.5;
                    isolation: isolate;
                }
            </style>
            <clipPath id="a">
                <rect class="a" width="1920" height="75"></rect>
            </clipPath>
        </defs>
        <title>wave</title>
        <g class="b">
            <path class="c"
                d="M1963,327H-105V65A2647.49,2647.49,0,0,1,431,19c217.7,3.5,239.6,30.8,470,36,297.3,6.7,367.5-36.2,642-28a2511.41,2511.41,0,0,1,420,48">
            </path>
        </g>
        <g class="b">
            <path class="d"
                d="M-127,404H1963V44c-140.1-28-343.3-46.7-566,22-75.5,23.3-118.5,45.9-162,64-48.6,20.2-404.7,128-784,0C355.2,97.7,341.6,78.3,235,50,86.6,10.6-41.8,6.9-127,10">
            </path>
        </g>
        <g class="b">
            <path class="d"
                d="M1979,462-155,446V106C251.8,20.2,576.6,15.9,805,30c167.4,10.3,322.3,32.9,680,56,207,13.4,378,20.3,494,24">
            </path>
        </g>
        <g class="b">
            <path class="d"
                d="M1998,484H-243V100c445.8,26.8,794.2-4.1,1035-39,141-20.4,231.1-40.1,378-45,349.6-11.6,636.7,73.8,828,150">
            </path>
        </g>
    </svg>
</header>

<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-9 ml-auto mr-auto">
                <div class="card border-bottom-warning shadow my-2">
                    <div class="card-body">
                        {% if not event.image %}
                        <img src="{% static 'img/undraw_festivities_tvvj.svg' %}" class="card-img-top">
                        {% else %}
                        <img src="{{ event.image.url }}" class="card-img-top">
                        {% endif %}
                    </div>
                </div>
                {% if request.user == event.organizer %}
                <div class="card border-left-warning shadow my-4">
                    <div class="card-body">
                        <h3> Tickets</h3>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Event</th>
                                    <th scope="col">Ticket ID</th>
                                    <th scope="col">Tickets</th>
                                    <th scope="col">User</th>
                                    <th scope="col">Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for ticket in event.tickets.all %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>{{event.name.title}}</td>
                                    <td>{{ticket.number}}</td>
                                    <td>{{ticket.tickets}}</td>
                                    <td>{{ticket.user.first_name.title}} {{ticket.user.last_name.title}}</td>
                                    <td>{{ticket.created_at|date}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
                {% endif %}

                <div class="card border-left-warning shadow my-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">Event</div>
                            <div class="col-md-8">{{ event.name }}</div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-4">Description</div>
                            <div class="col-md-8">{{ event.description }}</div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-4">Country</div>
                            <div class="col-md-8">{{ event.country }}</div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-4">City</div>
                            <div class="col-md-8">{{ event.city }}</div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-4">Start Date</div>
                            <div class="col-md-8">{{ event.start_date }}</div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-4">End Date</div>
                            <div class="col-md-8">{{ event.end_date }}</div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-4">Duration</div>
                            <div class="col-md-8">{{ event.duration }}</div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-4">Seats</div>
                            {% if event.seats == 0 %}
                            <a href="" class="btn btn-outline-danger rounded-pill"
                                style="cursor:auto; pointer-events: none;">SOLDOUT</a>
                            {% else %}
                            <div class="col-md-8">{{ event.seats }}</div>
                            {% endif %}
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-4">Location</div>
                            <div class="col-md-8">{{ event.location }}</div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-4">Category</div>
                            <div class="col-md-8">
                                {{event.categories.all}}
                                {% for cat in event.category.all %}
                                <a href="{% url 'dashboard' %}" class="btn btn-outline-info rounded-pill">{{cat}}</a>
                                {% endfor %}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-4">Organizer</div>
                            <div class="col-md-8"><a
                                    href="{% url 'organizer' event.organizer.id %}">{{ event.organizer }}</a></div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-4">Location</div>
                            <div class="col-md-8">{{ event.location }}</div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="col-md-3 ml-auto mr-auto">
                {% if request.user == event.organizer %}
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Options</h6>
                    </div>
                    <div class="card-body">
                        <a href="{% url 'event-edit' event.id %}"
                            class="btn btn-block rounded-pill btn-success">Edit</a>
                        <a href="{% url 'event-delete' event.id %}"
                            class="btn btn-block rounded-pill btn-danger">Delete</a>
                    </div>
                </div>
                {% endif %}
                {% if is_old_event  %}
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Book Ticket</h6>
                    </div>
                    <div class="card-body">
                        <button class="btn btn-block btn-warning" type="submit">EXPIRED</button>
                    </div>
                </div>
                {% elif event.seats != 0 %}
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Book Ticket</h6>
                    </div>
                    <div class="card-body">
                        <form action="{% url 'event-book' event.id %}" method="post">
                            {% csrf_token %}
                            {{form|crispy}}
                            <button class="btn btn-block btn-primary" type="submit">Book Ticket</button>
                        </form>
                    </div>
                </div>
                {% else %}
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Book Ticket</h6>
                    </div>
                    <div class="card-body">
                        <button class="btn btn-block btn-warning" type="submit">SOLDOUT</button>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>


{% endblock content %}